name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: yarn install
      - run: yarn link
      - run: yarn bootstrap
      - run: yarn lint
      - run: yarn build
      - run: yarn test
      # - run: yarn run coverage
      #   env:
      #     COVERALLS_REPO_TOKEN: ${{secrets.coveralls_repo_token}}
      #     CONTINUOUS_INTEGRATION: true
